<body class='gray'>
  <div class='container'>
    <div class='vote'>
      <h1>POLLanski: Jail Him or Free Him?</h1>
    
        <%= image_tag "polanski.png", :class => "polanski" %>

        <%= image_tag "jail_on.gif", :style => 'display:none' %>
        <%= image_tag "free_on.gif", :style => 'display:none' %>

        <div class='forms selfclear'>

          <div class='form'>
            <% form_for @vote do |f| %>
              <%= f.hidden_field :positive, :value => true %>
              <%= image_submit_tag "jail.gif", :onmouseover => 'this.src="/images/jail_on.gif"', :onmouseout => 'this.src="/images/jail.gif"' %>
            <% end %>
          </div>
        
          <div class='form'>
            <% form_for @vote do |f| %>
              <%= f.hidden_field :positive, :value => false %>
              <%= image_submit_tag "free.gif", :onmouseover => 'this.src="/images/free_on.gif"', :onmouseout => 'this.src="/images/free.gif"' %>
            <% end %>
          </div>
      
        </div>
    </div>
  </div>
  <div id='footer'>
    about | contact
  </div>
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-11077036-1");
  pageTracker._trackPageview();
  } catch(err) {}</script>
</body>