<body class='gray'>
  <div class='container'>
    <div class='vote'>
      <h1>POLLanski: Jail Him or Free Him?</h1>
    
        <%= image_tag "polanski.png", :class => "polanski" %>

        <div class='forms selfclear'>

          <div class='form'>
            <% form_for @vote do |f| %>
              <%= f.hidden_field :positive, :value => true %>
              <%= image_submit_tag "jail_him.png" %>
            <% end %>
          </div>
        
          <div class='form'>
            <% form_for @vote do |f| %>
              <%= f.hidden_field :positive, :value => false %>
              <%= image_submit_tag "free_him.png" %>
            <% end %>
          </div>
      
        </div>
    </div>
  </div>
</body>